* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  /* background-color: #4C698C; */
  background-image: url("https://tau0.files.wordpress.com/2013/07/oklahoma_morning_road_hdr.jpg?w=1252&h=834");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header {
  color: seashell;
  text-align: center;
  margin-top: 3vh;
}

img {
    height: 50%;
    width: 50%;
    border-radius: 1.5rem;
}

p {
  font-size: 1.5rem;
  color: seashell;
}

button {
  background: linear-gradient(90deg, rgba(29,29,35,1) 0%, rgba(58,80,107,1) 35%, rgba(58,80,107,1) 100%);
  color: seashell;
  padding: 14px 16px;
}

button a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1rem;
  padding: 14px 16px;
}

nav {

  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

nav a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1rem;
  padding: 14px 16px;
}

  a {
    text-decoration: none;
    color: seashell;
  }

  li {
    list-style: none;
    float: right;
  }

  li a {
    color:white;
    text-align: center;
    padding: 14px 16px;
  }

  li a:hover {
    background-color: slategrey;
    border-radius: 1rem;
  }


  h2 {
    font-size: 1.5rem;
    color: seashell;
  }
  

  .education p {
    font-size: 3vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  .education img {
    float: right;
  }

  .education button {
    margin-bottom: 20vh;
  }

  .workforce p {
    font-size: 3vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  .workforce img {
    padding-top: 2vh;
    padding-right: 2vh;
    float: left;
  }
  
  .workforce button {
    margin-bottom: 30vh;
  }

  .families p {
    font-size: 3vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  .families img {
    float: right;
  }

  .families button {
    margin-bottom: 4vh;
  }

  .navbar {
    background: linear-gradient(90deg, rgba(29,29,35,1) 0%, rgba(58,80,107,1) 35%, rgba(58,80,107,1) 100%);
        opacity: 90%;
        grid-column: 1 / span 7;
        padding: 1em;
  }

  .org-logo {
    font-size: 2rem;
    color: seashell;
  }

 .nav-menu li a.nav-linka {
  border-radius: 1rem;
  background-color: skyblue;
 }

 .footer{
  background: #1D1D23;
  padding: 0.1rem 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-navbar{
  text-align: center;
  margin-top: .938rem;
}
.footer-navbar a{
  color: seashell;
  font-size: 1.125rem;
  margin: 1rem;
  padding: 1rem;
  border: 0.3rem;
}


 .hamburger {
  display: none;
 }


.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1rem;
  font-weight: 400;
  color: black;
}



.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
      position: fixed;
      left: -150%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:  0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }


    .nav-menu.active {
      left: 0;
    }

    .nav-item {
      margin: 2.5rem 0;
    }

    .hamburger {
      display: block;
      cursor: pointer;
    }

}

@media(max-width:990px) {
  .navbar {
    display: flex;
    flex-direction: column;
    opacity: 90%;
    grid-column: 1 / span 7;
    padding: 1em;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 6vw;
}
}

@media(max-width: 450px) {
  .footer-navbar {
    text-align: center;
    margin-top: 0.938rem;
    display: flex;
    flex-direction: column;
}
}

